

<p>En el papel hay un acertijo que pregunta cual es el apellido de Obama.</p>
<form action='@Url.Action("Habitacion","Home")'>
<input type="hidden" value="4" name="sala" id='sala'>
        <div>
            <p>Respuesta:</p> <input type="text" name="clave" placeholder="Ingresa Respuesta">  
            <button onclick="alert('Pista: En césar, empieza con n y termina con n.')"> Pista </button>
            <button onclick="alert('Pista: sin césar, empieza con a y termina con a.')"> Pista </button>
        </div>
        <div>
            <input type="submit"> 
        </div>
</form>