<p>
Te despertás. Estás tirado en el piso de lo que parece ser la sala principal de una mansión lujosa. 
Junto a vos, hay otro perdido hombre, en tu misma situación. Se llama Pepe. 
</p>

<img src="~/Imagenes/mansion.jpg" width="720" height="360" alt="inicio">

<p>
Ambos de ustedes se percatan de que llevan máscaras blancas y trajes negros. Rápidamente se amigan para averiguar lo que sucede. 
Investigan un poco el lugar, y tras entrar por un pasillo descubren una inmensa escalera sin fin a la vista. 
Hombres con traje y máscara como ustedes suben las escaleras. 
De pronto ven una figura caer hacia ustedes desde lo alto, hasta estamparse con el suelo. Era uno de esos hombres. 
</p>

<!-- (Foto de un sirviente estampado en el piso de las escaleras) -->

<p>
Te acercás al cuerpo. Su máscara se rompió como resultado de la caída. 
De repente, se escucha a alguien por un altavoz: "¡Bienvenidos, nuevos sirvientes! Yo soy su anfitrión, @ViewBag.KingNombre,
Si se preguntan por el cuerpo, sólo fue un sacrificio. No pudo completar las 6 pruebas, así que lo tiré". 
</p>

<img src="~/Imagenes/hotel2.jpg" width="720" height="360" alt="inicio">

<p>Todos estos hombres en las escaleras están intentando vivir. Si es que ustedes se ven capaces, los invito a intentarlo. </p>

<!-- Botón de siguiente, que lo lleva al nivel 1 -->
<form action='@Url.Action("Empezar","Home")'>
<input type="text" name="usuario" required placeholder="Ingrese nuevo nombre">
<input type="submit">
</form>