

<p>Te despertás. Estás tirado en el piso de lo que parece ser la sala principal de una mansión lujosa. Junto a vos, hay otro perdido hombre, en tu misma situación:  </p>

<!-- (Ingresa el nombre de su compañero) -->

<p>Ambos de ustedes se percatan de que llevan máscaras blancas y trajes negros. Rápidamente se amigan para averiguar lo que sucede. 
Investigan un poco el lugar, y tras entrar por un pasillo descubren una inmensa escalera sin fin a la vista. Hombres con traje y máscara como ustedes suben las escaleras. 
De pronto ven una figura acercarse hacia ustedes desde lo alto, hasta estamparse con el suelo. Era uno de esos hombres. 
</p>

<!-- (Foto de un sirviente en el piso de las escaleras) -->

