@{
    ViewData["Title"] = "Index";
}

<img class="creditos" src="~/Imagenes/Creditos.jpg" alt="creditos">
<div class="textocredits">
    <h1>Creditos</h1>
    <p>Idea: Tomás FZ</p>
    <p>Diseño: Noah Rotbard</p>
    <p>Programación: all</p>
    <p>Mencion Honorable: Manu (el "primer?" villano y colaborador con los audios)</p>
    @if (ViewBag.Lore >= 1)
    {
        ViewBag.KingNombre = ViewBag.Nombre;
        <p>Lograste descifrar el código de la cerradura. Al abrir la puerta, te encontrás con un hombre en traje viendo muchos televisores. Está de espaldas, chequeando entre distintas cámaras, buscando dónde estás. El hombre intenta buscarte por toda la mansión, pero no sabe que estás detrás suyo. Para terminar con sus juegos, lo nockeas. 
        Das vuelta el cuerpo y tiene una cara familiar. Decidís sacarte la máscara y verte en el reflejo de uno de los televisores. Ambos tienen la misma cara. Todos los hombres con traje, incluído el anfitrión, son clones de la misma persona. Tu deber como ganador es ser el nuevo anfitrión, y esperar a que un clon más fuerte tome tu posición. Todo por 
        la supervivencia del clon más fuerte...</p>
    }
</div>