@{
    ViewData["Title"] = "Index";
}

<img class="creditos" src="~/Imagenes/Creditos.jpg" alt="creditos">
<div class="textocredits">
    <h1>Creditos</h1>
    <p>Idea: Tomás FZ</p>
    <p>Diseño: Noah Rotbard</p>
    <p>Programación: all</p>
</div>

