@{
    ViewData["Title"] = "La Mansión Infinita";
}
<div class="div1">
    <h1>LA MANSIÓN INFINITA</h1> <!-- cambiarlo al tipo de letra ingrave hay un site.css para eso dou-->
    <!-- Insertar Imagenes Descriptivas de una mansion + escaleras + sirvientes + manu -->
    <section class="section1">
        <img src="~/Imagenes/imagen1ind.png" alt="imagen1">
        <img src="~/Imagenes/imagen2ind.jpg" alt="imagen2">
        <img src="~/Imagenes/imagen3ind.jpg" alt="imagen3">
    </section>
    <form action=""></form>
    <button onclick=location.href='@Url.Action("Comenzar", "Home")'>Comenzar a Jugar</button></div>
</div>
