@{
    ViewData["Title"] = "Calabozo";
}

<!--La Nav Bar esta en el layout (para que se repita en todos) 🗣🗣🗣🗣 -->
<div class="div1">
    <h1>LA MANSIÓN INFINITA</h1> <!-- cambiarlo al tipo de letra ingrave hay un site.css para eso dou-->
    <!-- Insertar Imagenes Descriptivas -->



    <button onclick=location.href='@Url.Action("Comenzar", "Home")'>Comenzar a Jugar</button></div>
</div>
