@{
    ViewData["Title"] = "Calabozo";
}

<!--La Nav Bar esta en el layout (para que se repita en todos) 🗣🗣🗣🗣 -->
<div class="div1">
    <h1>¡Bienvenido a La Mansión!</h1>
    <!-- Insertar Imagenes Descriptivas -->
</div>
