<p>Volver al nivel original</p>

<audio controls autoplay>
  <source src="~/audios/gritomuerte.ogg" type="audio/ogg">
  <source src="~/audios/gritomuerte.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<button onclick=location.href='@Url.Action("Empezar", "Home")'>Volver</button></div>