
<img src="~/Imagenes/dead.gif" alt="MUERTO PETE" width="1920px" height="1080px">
<audio controls autoplay>
  <source src="~/audios/videoplayback.ogg" type="audio/ogg">
  <source src="~/audios/videoplayback.mp4" type="audio/mpeg">
</audio>
<form action='@Url.Action("Muerte", "Home")'>
<input type="text" name="usuario" required placeholder="Ingrese nuevo nombre">
<input type="submit">
</form>