@{
    ViewData["Title"] = "Nivel 5: El sótano"; //si queda mejor el atico
}
<!-- para poder sincronizar el jumpscare + audio pondria todo este texto explicativo en audio :v-->
<a href='@Url.Action("Pepe","Home")'><img src="~/Imagenes/arbol.png" alt="Tu amigo el que le elegis nombre" width="100%" height="100%"></a>
