@{
    ViewData["Title"] = "Nivel 3: Inyecciones Raras";
}

<p class="explicacion1">
    Desde unos altavoces, se escucha a @ViewBag.KingNombre decir:
    “Llegaste hasta la habitación con las pruebas biológicas, si no encontras la inyección correcta te vas a volver dependiente a una droga que manejo y 
    te volverás mi sirviente de por vida”. 
    De repente, un gas venenoso comienza a inundar todo el cuarto. Rápidamente comenzás a buscar la inyección con el nombre correcto. De las ciento veinte inyecciones, sólo una combinación es la correcta. 
    En los inyectables se lee “Dada f (x) = x . (x + 2) 2 . (3x – 2) Hallar los ceros”. Las raíces de la función son los números de las inyecciones correctas con el suero que no te convertirán en drogodependiente. 
</p>
<p class="explicacion1">
    Tienes que poner las raices de la siguiente forma: x; x; x
</p>
<script>
    function Grado3() {
        var clave1 = document.getElementById("clave1").value;
        var clave2 = document.getElementById("clave2").value;
        var clave3 = document.getElementById("clave3").value;
        document.getElementById("clave").value=(clave1.toString() + clave2.toString() + clave3.toString());
        document.forms[0].submit();
    }
</script>
<form action='@Url.Action("Habitacion","Home")'>
    <input type="hidden" value="2" name="sala">
    <input type="hidden" id="clave" name="clave">
    <div>
        <p>Respuesta:</p> <input class="ingreso" type="text" id = "clave1" placeholder="Ingresa Respuesta">  
        <p>Respuesta:</p> <input class="ingreso" type="text" id = "clave2" placeholder="Ingresa Respuesta">  
        <p>Respuesta:</p> <input class="ingreso" type="text" id = "clave3" placeholder="Ingresa Respuesta">  
    </div>
    <div>
        <button class="boton-nivel3" onclick="Grado3()">ENVIAR</button>
    </div>
</form>