@{
    ViewData["Title"] = "Nivel 6: La cabaña";
}


<!--A PARTIR DE ACA PODES ELEGIR SIMPLEMENTE ESCAPARTE Y TERMINAR EL JUEGO (aparece un botón que dice escapar) O ENTRAR A LA CABAÑA PARA EL FINAL CANON -->

<p class="explicacion1">Decidiste continuar con tu aventura. Te acercás a la cabaña que viste a lo lejos. Escuchás gritos de desesperación dentro. Para entrar, hay un candado con una contraseña. 
Para tu suerte, al lado del candado hay un cartel que indica que la contraseña es el nombre de un famoso hechizo para abrir cerraduras de una famosa saga de magos, pero en césar. 
Al parecer, @ViewBag.KingNombre es algo olvidadizo con esas cosas...</p>

<img src="~/Imagenes/cabaña.jpg" alt="cabaña">

<form action='@Url.Action("Habitacion","Home")'>
<input type="hidden" value="5" name="sala" id='sala'>
        <div>
            <p>Respuesta:</p> <input class="ingreso" type="text" name="clave" placeholder="Ingresa Respuesta">  
            <button onclick="alert('Pista: En césar, empieza con n y termina con b.')"> Pista </button>
            <button onclick="alert('Pista: sin césar, empieza con a y termina con b.')"> Pista </button>
        </div>
        <div>
            <input class="enviar" type="submit"> 
        </div>
</form>

<!--FALTA QUE SI COMPLETA BIEN ESTO SE CONVIERTE EN EL NUEVO EVIL MANU-->