@{
    ViewData["Title"] = "Nivel 4: El Salón de Trivia";
}
<script src="~/js/site.js"></script>
<p class="explicacion1">
Bienvenido a la Trivia! Ya sabés de qué trata: Si respondés bien vivís, y sino no. 
</p>
<p class="explicacion1">
"Este nivel está diseñado para que nos conozcamos mejor." -@ViewBag.KingNombre
</p>
<form action='@Url.Action("Habitacion","Home")'  method="post">
    <input type="hidden" value="3" name="sala" id="sala">
    <input type="hidden" value ="Mal" name="clave" id="clave">
    <input type="hidden" value ="@ViewBag.Nombre" name="nombre" id="nombre">
        <div>
            <p class="explicacion2">"¿Cómo se llama el papá del hijo de Goku?"</p>
            <input class="ingreso" type="text" name="clave0" id="clave0" required placeholder="Ingresa Respuesta">
            <button onclick="alert('Pista: Es el mismo nombre')"> Pista </button>
        </div>
        <div>
            <p class="explicacion2">"¿Quién es el villano en Spider-Man 2002?"</p>
            <input class="ingreso" type="text" name="clave1" id="clave1" required placeholder="Ingresa Respuesta">
            <button onclick="alert('Pista: Es VERDE')"> Pista </button>
        </div>
        <div>
            <p class="explicacion2">"¿Cómo te llamas?"</p>
            <input class="ingreso" type="text" name="clave2" id="clave2" required placeholder="Ingresa Respuesta">
            <button onclick="alert('Pista: Cual es tu nombre?')"> Pista </button>
        </div>
         <div>
            <p class="explicacion2">"¿Con cuántas estrellas calificarías esta experiencia?(っ◔◡◔)っ ♥"</p>
            <input class="ingreso" type="text" name="clave3" id="clave3" required placeholder="Ingresa Respuesta">
            <button onclick="alert('Pista: El maximo es 5, no te recomiendo poner menos que eso.')"> Pista </button>
        </div>
        <div>
            <p class="explicacion2">"RESPUESTA: oro."</p>
            <input class="ingreso" type="text" name="clave4" id="clave4" required placeholder="Ingresa Respuesta">
            <button onclick="alert('Pista: Es el mismo nombre')"> Pista </button>
        </div>
        <div>
            <p class="explicacion2">"Tijeras"</p>
            <input class="ingreso" type="text" name="clave5" required placeholder="Ingresa Respuesta">
            <button onclick="alert('Pista: ¿Que le gana a las tijeras?')"> Pista </button>
        </div>
        <div>
            <button class="boton-nivel4" onclick="prueba()">ENVIAR</button>
        </div>
</form>

