@{
    ViewData["Title"] = "Nivel 6: La cabaña";
}
<!--POR CADA RESPUESTA CORRECTA SE ESCUCHA UN AUTOPLAY DE APLAUSOS CLAP CLAP CLAP. POR CADA MISTAKE UN BOOOOOOOOOO-->

<p>Lograste escaparte de la mansión. 
Te encontrás en un jardín. Ya no hay más indicaciones de @ViewBag.KingNombre sobre qué es lo que tenés que hacer, porque ya no estás dentro de la mansión.
Al fondo, hay una cabaña de madera. Te acercás a la misma y escuchás a un hombre quejándose. La cerradura tiene un extraño rompecabezas. Decides: 
</p>

<!--A PARTIR DE ACA PODES ELEGIR SIMPLEMENTE ESCAPARTE Y TERMINAR EL JUEGO (aparece un botón que dice escapar) O ENTRAR A LA CABAÑA PARA EL FINAL CANON -->
