@{
    ViewData["Title"] = "Nivel 3: Inyecciones Raras";
}

<p>
Desde unos altavoces, se escucha a @ViewBag.KingNombre decir:
“Llegaste hasta la habitación con las pruebas biológicas, si no encontras la inyección correcta te vas a volver dependiente a una droga que manejo y 
te volverás mi sirviente de por vida”. 
De repente, un gas venenoso comienza a inundar todo el cuarto. Rápidamente comenzás a buscar la inyección con el nombre correcto. De las ciento veinte inyecciones, sólo una combinación es la correcta. 
En los inyectables se lee “Dada f (x) = x . (x + 2) 2 . (3x – 2) Hallar los ceros”. Las raíces de la función son los números de las inyecciones correctas con el suero que no te convertirán en drogodependiente. 
</p>
